.border-canvas {
  max-width: 600px;
  padding: 20px;
}

.container-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.sidebar-right{
    display: flex;
    flex-direction: column;
}
